<HMTL>
	<head>
		<meta charset="utf-8">
	</head>

	<body>
	<a class="waves-effect waves-light btn" href="../../grafika jj/Badura proj jj/proj.html">Kuba</a>
	<a class="waves-effect waves-light btn" href="../../Mat/Praca.html">Mateusz</a>
	<a class="waves-effect waves-light btn" href="../../marcin Sut/grafika badura/starydobry.html">Marcin</a>
	<a class="waves-effect waves-light btn" href="../../prace Myszura/projekt/prosto_interakcja.html">Kasia</a>
	<script src="build/three.js"></script>
	<script src="build/ColladaLoader.js"></script>
	<script src='build/THREEx.KeyboardState.js'></script>

	<script>
		var camera, scene, render, keyboard;
		var container;
		var loader;
		var buildings,roads;
		var car;

		var buildingTexture, roadTexture;
		
		init();
		createBuilding(250,0,0);
		createBuilding(-250,0,0);

		createRoad(-800,200,9,1);
		createRoad(-800,-200,9,1);

		createRoad(-800,0,1,0);
		createRoad(0,0,1,0);
		createRoad(800,0,1,0);

		render();

		function loadTextures(){
			buildingTexture = new THREE.TextureLoader().load('images/buildingTexture.jpg');
			buildingTexture.wrapS = buildingTexture.wrapT = THREE.RepeatWrapping;
			buildingTexture.repeat.set(1,4);
			roadTexture = new THREE.TextureLoader().load('images/road.jpg');
		}

		function createBuilding(a,b,c){
			
			var geometry = new THREE.BoxBufferGeometry( 200, 800, 200 );
			var material = new THREE.MeshBasicMaterial({ map: buildingTexture });
			var object = new THREE.Mesh(geometry, material );
			object.position.x = a;
			object.position.y = b;
			object.position.z = c;

			scene.add(object);
			buildings.push(object);
			renderer.render(scene,camera);
		}
		function createRoad(startX,startY,len,horizontal=0){
			var geometry = new THREE.BoxBufferGeometry( 200, 20, 200 );
			var material = new THREE.MeshBasicMaterial({ map: roadTexture });

			if (horizontal!=0){
				for (i=startX;i<startX+(len*200);i+=200){
					var object = new THREE.Mesh(geometry, material );
					object.position.x = i;
					object.position.y = -400;
					object.position.z = startY;
					object.rotation.y = Math.PI/2;
					scene.add(object);
					roads.push(object);
				}
			}
			else{
				for (i=startY;i<startY+(len*200);i+=200){
					var object = new THREE.Mesh(geometry, material );
					object.position.x = startX;
					object.position.y = -400;
					object.position.z = -i;
					scene.add(object);
					roads.push(object);

				}
			}
			renderer.render(scene,camera);

		}
		function init(){
			loadTextures();

			// CAMERA RENDER SCENE
			camera = new THREE.PerspectiveCamera( 100, window.innerWidth / window.innerHeight, 1, 10000 );			
			camera.position.y = 1000;
			camera.rotation.x = -Math.PI/2;

			scene = new THREE.Scene();

    		renderer = new THREE.WebGLRenderer();
			renderer.setPixelRatio( window.devicePixelRatio );
    		renderer.setSize(window.innerWidth, window.innerHeight);
			
			document.body.appendChild(renderer.domElement);

			keyboard = new THREEx.KeyboardState();

			initCollada("./models/Protect_Van.dae");
			//LIGHT
			var light = new THREE.DirectionalLight( 0xffffff, 1 );
			light.position.set( 1, 1, 1 ).normalize();
			scene.add( light );



			buildings = [];
			roads = [];
		}
		function initCollada(url) {
			var loader = new THREE.ColladaLoader();
			loader.options.convertUpAxis = true;
			loader.load( url, function ( collada ) {
			car = collada.scene;
		

    		// Create animation action and start it
		
		
			car.scale.x = car.scale.y = car.scale.z = 0.01; //skalowanie obiektu
			car.updateMatrix();
					
			dae.traverse( function ( child ) {
			child.castShadow = true;
			child.receiveShadow = false;
			if ( child instanceof THREE.SkinnedMesh ) {
						var animation = new THREE.Animation( child, child.geometry.animation );
						animation.play();
					}
			} ); 
			scene.add( dae );
			coladaStorage.push(dae)
			} );
	
		}

		function moveCar(){
			if (keyboard.pressed('s')){
				car.position.z -= 2;
			}
			if (keyboard.pressed('w')){
				car.position.z += 2;
			}
			if (keyboard.pressed('a')){
				car.position.x -= 2;
			}
			if (keyboard.pressed('d')){
				car.position.x += 2;
			}
		}


		function render(){
			
			requestAnimationFrame( render );
			renderer.render(scene,camera);

		}
	</script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
	</body>
</HTML>